# Default owner for everything in the repo
*       @hoangsonww

# Workflows and CI
/.github/ @hoangsonww

# Documentation
/docs/ @hoangsonww
*.md   @hoangsonww

# Source packages
/packages/ @hoangsonww
