* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary

*.html linguist-detectable=true

sitemap.xml linguist-generated=true
package-lock.json linguist-generated=true

.github/ export-ignore
.idea/ export-ignore
*.test.js export-ignore
